.mcsqmpw{min-width:650px;}
.smwgb3t{height:100vh;}
.sdlgbnt{margin-top:10vh;}
.s19gugv8{background:rgb(0,212,255);background:radial-gradient(circle,rgba(0,212,255,1) 0%,rgba(0,108,255,1) 100%);}
.c1f1drgd{height:600px;}
